{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'download/thanks-style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'download/images/PawPredict-iconlogo.png' %}">
    <title>Paw Predict || Thank You</title>
</head>
<body>
    <h2>Thank You for Downloading</h2>
    <div class="logo">
        <img src="{% static 'download/images/PawPredict-logo.png' %}" alt="PawPredictLogo">
    </div>
    
    <section>
        <button id="goToDownloadPage">
            Back
        </button>
    </section>

    <script>
        document.getElementById("goToDownloadPage").addEventListener("click", function() {
            window.location.href = "{% url 'download' %}";
        });
    </script>
</body>
</html>